[submodule "Zmakan-Technical-Solutions/l10n_qr_asg"]
	path = Zmakan-Technical-Solutions/l10n_qr_asg
	url = git@github.com:Zmakan-Technical-Solutions/l10n_qr_asg.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_asg_custom"]
	path = Zmakan-Technical-Solutions/zts_asg_custom
	url = git@github.com:Zmakan-Technical-Solutions/zts_asg_custom.git
	branch = 13.0
